<!-- Left sidebar: sticky on lg+, offcanvas drawer below lg. Populated by theme.js from page headings. -->
<div class="d-none d-lg-block toc-sticky">
  <nav class="toc" aria-label="Table of contents">
    <p class="toc-title">On this page</p>
    <ul class="toc-list list-unstyled mb-0" id="toc-desktop"></ul>
  </nav>
</div>

<div class="offcanvas offcanvas-start" tabindex="-1" id="toc-offcanvas" aria-labelledby="toc-offcanvas-label">
  <div class="offcanvas-header">
    <h5 class="offcanvas-title" id="toc-offcanvas-label">On this page</h5>
    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>
  <div class="offcanvas-body">
    <ul class="toc-list list-unstyled mb-0" id="toc-mobile"></ul>
  </div>
</div>